/* 顶部按钮栏样式 */
#header-grid {
    layout: horizontal;
    padding: 0;
    border-bottom: heavy $background;
    background: $panel;
    height: 3;
}

#refresh-button {
    width: auto;
    border: none;
    background: $primary-lighten-2;
    color: $text;
    align: left middle;
}

#refresh-button:hover {
    background: $primary-lighten-1;
}

#hide-label {
    width: auto;
    border: none;
    background: $primary-lighten-2;
    color: $text;
    align: right middle;
}

#hide-button {
    width: auto;
    border: none;
    background: $primary-lighten-2;
    color: $text;
    align: right middle;
}

.header-button:hover {
    background: $primary-lighten-1;
}

